<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Cryptoasset Sector Index</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

      <link rel="stylesheet" href="css/style.css">



</head>

<body>


  <main>
  <h1>FINNdex Cryptoasset Industry Average</h1>
  <p>Daily performance of various cryptoasset sectors.</p>
</main>
<ul>
  <div id="div1">
    <div id="app">

  <!-- Card 1 -->
  <li  class="card">

    <div class="card__flipper">
      <div  class="card__front">

        <p class="card__name"><span>Privacy</span><br>Coins</p>
            <table class="table">
                <thead class="chart-info">
                  <tr>
                    <td>Symbol</td>
                    <td>Price (USD)</td>
                    <td> Change </td>


                </thead>
                <tbody>

                  <tr v-cloak v-for="coin in privCoins">

                      <td>

                      <!-- cointest -->
                      <div class="skill-icon red">
                          <div class="icon"></div>
                          <div class="coin front">

                          </div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin"></div>
                          <div class="coin back">
                            <div class="icon"></div>
                          </div>

                          <div class="coin-wedge"></div>
                        </div>
                      <!-- -->
                      {{ coin.symbol }}
                    </td>



                    <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                      <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                    </td>
                    <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                      <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                    </td>
                  </tr>

                  <tr v-cloak>

                </tbody>
              </div>
              </table>


        </p>
      </div>
      <div class="card__back">
        <!-- Pie insert -->
        <section>
            <div class="pieID pie">
            </div>
            <ul class="pieID legend">
              <li>
                <em>Monero</em>
                <span>718</span>
              </li>
              <li>
                <em>Zcash</em>
                <span>531</span>
              </li>
              <li>
                <em>Dash</em>
                <span>868</span>
              </li>
              <li>
                <em>Verge</em>
                <span>344</span>
              </li>
              <li>
                <em>BTCP</em>
                <span>1145</span>
              </li>
              <li>
                <em>Other</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->
      </div>
    </div>
  </li>

  <!-- Card 2 -->
  <li class="card">
    <div class="card__flipper">
       <div class="card__front">
         <p class="card__name"><span>Crypto</span><br>Currencies</p>

         <div id="app">
               <table class="table">
                 <thead class="chart-info">
                   <tr>
                     <td>Symbol</td>
                     <td>Price (USD)</td>
                     <td>Change </td>

                 </thead>
                 <tbody>
                   <tr v-cloak v-for="coin in currCoins">
                     <td>  <!-- cointest -->
                       <div class="skill-icon orange">
                         <div class="icon"></div>
                           <div class="coin front">
                             <div class="icon"></div>
                           </div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin"></div>
                           <div class="coin back">
                             <div class="icon"></div>
                           </div>
                           <div class="coin-wedge"></div>
                         </div>
                       <!-- -->

                       {{ coin.symbol }}</td>

                     <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                       <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                     </td>
                     <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                       <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                     </td>
                   </tr>
                   <tr v-cloak>

                 </tbody>
               </table>
             </div>

        <!--<p class="card__num"><div id="result"></div>-->

</p>
      </div>
      <div class="card__back">
        <!-- Pie insert -->
        <section>
            <div class="pieID2 pie">
            </div>
            <ul class="pieID2 legend">
              <li>
                <em>Bitcoin</em>
                <span>7108</span>
              </li>
              <li>
                <em>Litecoin</em>
                <span>200</span>
              </li>
              <li>
                <em>BCH</em>
                <span>868</span>
              </li>
              <li>
                <em>Ripple</em>
                <span>344</span>
              </li>
              <li>
                <em>Stellar</em>
                <span>1145</span>
              </li>
              <li>
                <em>Dogecoin</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->
      </div>
    </div>
  </li>

    <!-- Card 3 -->
  <li class="card">
    <div class="card__flipper">
       <div class="card__front">
        <p class="card__name"><span>Token</span><br>Exchanges</p>


        <div>
          <table class="table" >
            <thead class="chart-info">
              <tr>
                <td>Symbol</td>
                <td>Price (USD)</td>
                <td> Change </td>

            </thead>
            <tbody>
              <tr v-cloak v-for="coin in exCoins">
                <td>  <!-- cointest -->
                  <div class="skill-icon green">
                    <div class="icon"></div>
                      <div class="coin front">
                      </div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin back">
                        <div class="icon"></div>
                      </div>
                      <div class="coin-wedge"></div>
                    </div>
                  <!-- -->

                  {{ coin.symbol }}</td>

                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                </td>
                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                </td>
              </tr>
              <tr v-cloak>

            </tbody>
          </table>
              </table>
            </div>





      </p>
      </div>
      <div class="card__back">
        <!-- Pie insert -->
        <section>
            <div class="pieID3 pie">
            </div>
            <ul class="pieID3 legend">
              <li>
                <em>Binance</em>
                <span>718</span>
              </li>
              <li>
                <em>Loopring</em>
                <span>531</span>
              </li>
              <li>
                <em>0x</em>
                <span>868</span>
              </li>
              <li>
                <em>Kucoin</em>
                <span>344</span>
              </li>
              <li>
                <em>WAVES</em>
                <span>1145</span>
              </li>
              <li>
                <em>Other</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->
      </div>
    </div>
  </li>

  <!-- Card 4 -->

  <li class="card">
    <div class="card__flipper">
       <div class="card__front">
        <p class="card__name"><span>Computational</span><br>Resources</p>
        <div>
          <table class="table">
            <thead class="chart-info">
              <tr>
                <td>Symbol</td>
                <td>Price (USD)</td>
                <td> Change </td>

            </thead>
            <tbody>
              <tr v-cloak v-for="coin in resCoins">
                <td>
                  <!-- cointest -->
                  <div class="skill-icon blue">
                    <div class="icon"></div>

                      <div class="coin front">
                      </div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin back">
                        <div class="icon"></div>
                      </div>
                      <div class="coin-wedge"></div>
                    </div>
                  <!-- -->
                  {{ coin.symbol }}</td>

                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                </td>
                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                </td>
              </tr>
              <tr v-cloak>

            </tbody>
          </table>
              </table>
            </div>

      </div>
      <div class="card__back">

        <!-- Pie insert -->
        <section>
            <div class="pieID4 pie">
            </div>
            <ul class="pieID4 legend">
              <li>
                <em>Siacoin</em>
                <span>718</span>
              </li>
              <li>
                <em>Golem</em>
                <span>531</span>
              </li>
              <li>
                <em>SONM</em>
                <span>868</span>
              </li>
              <li>
                <em>Maidsafe</em>
                <span>344</span>
              </li>
              <li>
                <em>Aelf</em>
                <span>1145</span>
              </li>
              <li>
                <em>Other</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->

      </div>
    </div>
  </li>


  <!-- Card 5-->

  <li class="card">
    <div class="card__flipper">
       <div class="card__front">
        <p class="card__name"><span>Platform</span><br>Gas</p>
        <div id="app">
          <table class="table">
            <thead class="chart-info">
              <tr>
                <td>Symbol</td>
                <td>Price (USD)</td>
                <td> Change </td>

            </thead>
            <tbody>
              <tr v-cloak v-for="coin in gasCoins">
                <td>  <!-- cointest -->
                  <div class="skill-icon green">
                    <div class="icon"></div>
                      <div class="coin front">
                      </div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin back">
                        <div class="icon"></div>
                      </div>
                      <div class="coin-wedge"></div>
                    </div>
                  <!-- -->
                  {{ coin.symbol }}</td>

                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                </td>
                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                </td>
              </tr>
              <tr v-cloak>

            </tbody>
          </table>
            </div>

      </div>
      <div class="card__back">
        <!-- Pie insert -->
        <section>
            <div class="pieID5 pie">
            </div>
            <ul class="pieID5 legend">
              <li>
                <em>Ethereum</em>
                <span>718</span>
              </li>
              <li>
                <em>EOS</em>
                <span>531</span>
              </li>
              <li>
                <em>NEO</em>
                <span>868</span>
              </li>
              <li>
                <em>ETC</em>
                <span>344</span>
              </li>
              <li>
                <em>Counterparty</em>
                <span>1145</span>
              </li>
              <li>
                <em>Other</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->

      </div>
    </div>
  </li>

  <!-- Card 6 -->

  <li class="card">
    <div class="card__flipper">
       <div class="card__front">
        <p class="card__name"><span>Utility</span><br>Tokens</p>
        <div id="app">
          <table class="table">
            <thead class="chart-info">
              <tr>
                <td>Symbol</td>
                <td>Price (USD)</td>
                <td> Change </td>

            </thead>
            <tbody>
              <tr v-cloak v-for="coin in utilCoins">
                <td>
                  <!-- cointest -->
                  <div class="skill-icon orange">
                    <div class="icon"></div>

                      <div class="coin front">
                      </div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin"></div>
                      <div class="coin back">
                        <div class="icon"></div>
                      </div>
                      <div class="coin-wedge"></div>
                    </div>
                  <!-- -->
                  {{ coin.symbol }}</td>

                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0"></span>{{ coin.quotes.USD.price }}
                </td>
                <td class="pricefont" v-bind:style="getColor(coin.quotes.USD.percent_change_24h)">
                  <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}%
                </td>
              </tr>
              <tr v-cloak>

            </tbody>
          </table>
              </table>
            </div>

      </div>
      <div class="card__back">
        <!-- Pie insert -->
        <section>
            <div class="pieID6 pie">
            </div>
            <ul class="pieID6 legend">
              <li>
                <em>Augur</em>
                <span>718</span>
              </li>
              <li>
                <em>Tron</em>
                <span>531</span>
              </li>
              <li>
                <em>OmiseGo</em>
                <span>868</span>
              </li>
              <li>
                <em>DRGN</em>
                <span>344</span>
              </li>
              <li>
                <em>Vechain</em>
                <span>1145</span>
              </li>
              <li>
                <em>Other</em>
                <span>50</span>
              </li>
            </ul>

          </section>
        <!-- -->
      </div>
    </div>
  </li>
</div>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/vue2-filters.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/app.js"></script>
<script  src="js/index.js"></script>

</body>

</html>
